table tr td {
    pending: 5px;
    color: black;
}

.border_report {
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important
}

.font_weight {
    font-weight: 800;
}

.line-distance {
    line-height: 1;
}