.o_badge.o_status_color_draft {
    background-color: red !important;
    color: white !important;
}

.o_badge.o_status_color_submit {
    background-color: blue !important;
    color: white !important;
}

.o_badge.o_status_color_approve {
    background-color: green !important;
    color: white !important;
}

.o_badge.o_status_color_cancel {
    background-color: grey !important;
    color: white !important;
}
