// Add Font
@font-face {
    font-family: "THSarabunNew";
    src: url("../fonts/THSarabunNew.ttf") format("truetype");
}

@font-face {
    font-family: "AngsanaNew";
    src: url("../fonts/AngsanaNew.ttf") format("truetype");
}

@font-face {
    font-family: "Webdings";
    src: url("../fonts/Webdings.ttf") format("truetype");
}

@font-face {
    font-family: "THSARABUN";
    src: url("../fonts/THSARABUN.ttf") format("truetype");
}

@font-face {
    font-family: "THSARABUN_BOLD";
    src: url("../fonts/THSARABUN_BOLD.ttf") format("truetype");
}
